@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #000000;
  --color-secondary: #333333;
  --color-accent: #3b82f6; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
